<div id="root"></div>
<%= javascript_pack_tag 'index' %>
<%= stylesheet_pack_tag 'index' %>
<script src="https://use.fontawesome.com/e804849d4b.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT_SmST_1NSYYSdCmOnkGUrBbPexDwUxs"></script>-->